.Slider_Container {
  display: flex;
  flex-direction: column;

  padding: 5px;
  gap: 20px;
  overflow: hidden;

  justify-content: left;

  height: fit-content;
  width: 100%;

  .Slider_Title {
    color: black;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 300;
  }

  .Swiper {
    display: flex;
    width: 100%;

    .Card {
      display: flex;
      flex-direction: column;

      gap: 10px;

      height: fit-content;
      width: 350px;

      .Top {
        border: 2px solid black;
        background-color: rgba(0, 0, 0, 0.6);

        height: 150px;
        width: 100%;
      }

      .Bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .Image__Placeholder {
          display: flex;

          gap: 20px;
          justify-content: space-between;
          align-items: center;

          .Image_Container {
            height: 50px;
            width: 50px;

            overflow: hidden;

            border: 2px solid black;
            background-color: rgba(0, 0, 0, 0.9);

            .Tiny_Image {
              height: 100%;
              width: 100%;
              margin: auto;
              object-fit: cover;
            }
          }

          .Placeholder_Text {
            color: black;
            font-family: sans-serif;
            font-size: 18px;
            font-weight: 100;
            font-style: italic;
          }
        }

        .Three_Dots_Container {
          display: flex;

          height: 100%;
          width: fit-content;

          gap: 10px;
          margin: auto;
          margin-right: 0px;
          margin-top: 0px;

          .Dot {
            border: 2px solid black;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.9);

            height: 20px;
            width: 20px;
          }
        }
      }
    }
  }
}

// Media Queries Start

@media only screen and (max-width: 500px) {
  .Slider_Container {
    .Swiper {
      .Card {
        width: 280px;
      }
    }
  }
}

// Media Queries End
