* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

ul {
  list-style: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.App {
  background-color: white;
  display: flex;
  flex-direction: column;

  overflow: hidden;
  position: relative;

  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  .Back_To_Top_Icon {
    position: fixed;
    bottom: 50px;
    right: 10px;
    z-index: 99;

    color: black;

    transition: .5s;
    transform: translateX(100vh);
  }

  .Show_Back_To_Top {
    transform:  translateX(0%);
  }
}